<a href="https://colab.research.google.com/github/SWeat-python-weekend-study/Jung-Kyeong-Bin/blob/0214/Week1_%EC%A0%95%EA%B2%BD%EB%B9%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

0.CoLab

In [2]:
%pdb

Automatic pdb calling has been turned ON

In [42]:
!pwd

/content


1. iterator

iterable: 반복 가능한 객체
ex) 문자열, 리스트, 딕셔너리, 집합
요소가 여러개 들어있고, 한 번에 하나씩 꺼낼 수 있는 객체

__iter__ 메서드가 해당 객체에 있는지 확인

In [43]:
!ls

fibonacci.py  sample_data  student.txt

In [ ]:
!tail nohup.out

In [45]:
list = !ls

In [ ]:
for file in list:
  print file

In [ ]:
%%writefile fibonacci.py
def fibonacci(n):
  if n<1:
  else:
    return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
def g():
  print('one')
  print('two')
  print('three')
_ =g()
next(_)
next(_)
next(_)

In [1]:
def g():
  A = [1,2,3,4,5]
  for _ in A:
    yield _
for _ in g():
  print( _ * 2)

2
4
6
8
10

In [3]:
def confirm(x):
  return '1입니다' if x==1 else\
         '5입니다' if x==5 else\
         '1도 5도 아닙니다.'
confirm(1)
confirm(3)

'1도 5도 아닙니다.'

In [4]:
A = list(range(10))
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
B = [_ for _ in A]
B

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
X = [0 for i in range(5)]
X

[0, 0, 0, 0, 0]

In [9]:
C =[ x for x in A if x>5]
C

[6, 7, 8, 9]

In [10]:
x = ['3', '5', '2']
Y = [int(i) for i in x]
Y

[3, 5, 2]

In [11]:
D = [x for x in A if x > 5 and x % 2 == 0 ]
D

[6, 8]

In [13]:
def F(n):
  if n <=2:
    return 1
  else:
    return F(n-1) + F(n-2)

R = [F(n) for n in range (1,10)]
print(R)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [15]:
A = lambda x : x*2
A(5)

def lamb(x):
  return x*2

In [16]:
F = lambda n : F(n-1) + F(n-2) if n>2 else 1
R = [F(n) for n in range(1,10)]
print(R)

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [20]:
A = lambda x : x*2
B = lambda x : x*3
C = lambda x : x*4
D = lambda x : x*5

L = [A,B,C,D]

for f in L:
  print(f(2))

4
6
8
10

In [21]:
F = lambda n : [f(n) for f in L]
F(2)

[4, 6, 8, 10]

In [23]:
F = lambda * x : ''.join(x)
F('파이썬', '코딩', '쉽네')

'파이썬코딩쉽네'

In [22]:
F = lambda **x : [(v,k) for k, v in x.items()]
D = F(A = '파이썬', B = '코딩', C= '쉽네')
print(D)

D = dict (D)
print(D ['파이썬'])

[('파이썬', 'A'), ('코딩', 'B'), ('쉽네', 'C')]
A

In [26]:
F = lambda **x : sum(x['data']) if 'type' in x and x['type'] == 'sum' else 0
F(type='sum', data =[1,2,3,4])
F(data = [1,2,3,4,5])
F(type = 'mul', data = [1,2,3,4,5])

0

In [33]:

with open('student.txt', 'r', encoding = 'euc-kr') as fr:
  print(fr.readline())

태서연;54;72;60;78

In [34]:
F = lambda x : x.split(':')[1:]
F('태서연;54;72;60;78')

[]

In [36]:
F = lambda x : sum([int(i) for i in x.split(':')[1:]])
F = ('태서연;54;72;60;78')

In [39]:
F = lambda x : (x.split(':')[0], sum([int(i) for i in x.split(';')[1:]]))
name, total = F('태서연;54;72;60;78')
print(name, total)

태서연;54;72;60;78 264

In [40]:
F = lambda L : [int(x) for x in L[1:]]
F('태서연;54;72;60;78'.split(';'))
print(name,total)

태서연;54;72;60;78 264

In [ ]:
F = lambda L, T: (L[0], sum([int(_)for_ int L[1:]]))  if T == 'sum' else\
                 (L[0], sum([int(_)for _in L[1:]]) / len(L[1:])) if T == 'avg' else \
                 (L[0], None)